.container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  overflow: auto;
  padding: 30px 25px;
  position: relative;
  transition: all 0.3s ease;
  max-inline-size: 60%;

  &.loading {
    align-items: center;
    justify-content: center;
  }
}
