.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: var(--background);
  backdrop-filter: blur(10px);
  /* animation: reSizeNav auto linear both;
  animation-timeline: scroll(root block); */

  h1 {
    font-size: 25px;
    font-weight: 700;
    /* animation: reSizeTitle auto linear both;
    animation-timeline: scroll(root block); */
  }
}

/* .docIcon {
  animation: reSizeIcon auto linear both;
  animation-timeline: scroll(root block);
}

@keyframes reSizeIcon {
  0% {
    scale: 1;
    display: block;
  }

  10% {
    scale: 0;
    width: 0px;
    display: none;
  }

  100% {
    scale: 0;
    display: none;
  }
}

@keyframes reSizeTitle {
  0% {
    font-size: 25px;
  }

  10% {
    font-size: 20px;
  }

  100% {
    font-size: 20px;
  }
}

@keyframes reSizeNav {
  0% {
    padding: 15px 25px;
  }

  10% {
    padding: 10px 20px;
  }

  100% {
    padding: 10px 20px;
  }
} */
