/* Estilos básicos para contenido de Markdown */

.markdown {
  & > * {
    color: #dedede;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff; /* Color dorado para los encabezados */
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #333333; /* Línea de fondo para los subencabezados */
    padding-bottom: 0.3rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.15rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  code {
    background-color: #333333;
    color: #bdbdbd;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
  }

  pre {
    background-color: #333333;
    color: #ffffff;
    padding: 1em;
    border-radius: 8px;
    overflow-x: auto;
  }

  blockquote {
    border-left: 5px solid #ffd700;
    padding-left: 1em;
    color: #cccccc;
    margin: 1em 0;
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
  }

  th,
  td {
    border: 1px solid #444444;
    padding: 0.5em 1em;
    text-align: left;
  }

  th {
    background-color: #222222;
    color: #ffffff;
    font-weight: bold;
  }

  td {
    background-color: #1a1a1a;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  footer {
    margin-top: 2em;
    text-align: center;
    font-size: 0.9em;
    color: #888888;
  }

  hr {
    color: #ffffff;
    margin-block: 1.5rem;
  }
}
